// Fonts
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans/open-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/open-sans/open-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans/open-sans-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans/open-sans-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans/open-sans-v18-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/orbitron/orbitron-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/orbitron/orbitron-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/orbitron/orbitron-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/orbitron/orbitron-v16-latin-regular.svg#Orbitron') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/orbitron/orbitron-v16-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/orbitron/orbitron-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/orbitron/orbitron-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/orbitron/orbitron-v16-latin-500.svg#Orbitron') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/orbitron/orbitron-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/orbitron/orbitron-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/orbitron/orbitron-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/orbitron/orbitron-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/orbitron/orbitron-v16-latin-700.svg#Orbitron') format('svg'); /* Legacy iOS */
}

// VSV colors
$vsv-slate-gray: rgb(103, 128, 164);
$vsv-red: rgb(214, 103, 85);
$vsv-blue: rgb(76, 128, 193);
$vsv-green: rgb(80, 178, 104);
$vsv-dark-red: rgb(156, 93, 88);
$vsv-dark-blue: rgb(68, 79, 105);
$vsv-dark-green: rgb(77, 94, 81);
$vsv-dark-gray: rgb(60, 60, 59);
$vsv-gray: rgb(178, 177, 177);
$vsv-light-gray: rgb(217, 223, 232);

$blue: $vsv-blue;
$success: $vsv-green;
$danger: $vsv-red;
$light: $vsv-light-gray;
$dark: $vsv-dark-blue;

$min-contrast-ratio: 3;

$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: "Orbitron", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Bootstrap
@import 'bootstrap/bootstrap';

// @import '~@fortawesome/fontawesome-free/scss/brands';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '@fortawesome/fontawesome-free/css/all.css';
// TODO: check if the scss version is better and if it will work

// Custom CSS comes below
nav.navbar .logo {
    max-height: 58px;
}
.navbar-login {
    background-color: #687186;
}
