button {
    all: unset;
}

.event-title:hover {
    color: red;
}

/* Below here was made before i took over */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #3c3c3b;
	line-height: 1.7em;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
  /*background: url(../img/VSV_background_textpages-15pct.jpg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: 100%;
}

a {
	outline: none;
  text-decoration: none !important;
}

a:hover{
  color: #EA5A4F;
}

button {
	outline: none;
  box-shadow: unset !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

h6{ font-weight: 700; font-family: 'Open Sans', sans-serif;}

ul{
  padding-left: 20px;
}

.bg-dark-blue{
  background-color: #434f69;
  float:left
}

.text-green{
  color:#50b268!important
}

.green-bg{
  background-color:#50b268!important
}

.light-blue{
  color: #4C80C1;
}

.light-blue-bg{
  background-color: #4c80c1;
}

.sky-blue{
  background-color: #2ea3f2;
}

.text-sky-blue{
  color: #2ea3f2;
}

.text-red{
  color: #EA5A4F;
}

.red{ background-color: #EA5A4F;}

.text-black{
  color: #3c3c3b;
}

.text-black-bg{
  background-color: #3c3c3b;
}

.light-gray{
  background-color: #d9dfe8!important;
  float: left;
}

.text-light-gray{
  color: #d9dfe8!important;
  float: left;
}

.dark-gray{
  background-color: #687186;
}

.text-dark-gray{
 color: #687186;
}

.dark-blue{
  background-color: #434f69;
}

.text-dark-blue {
  color: #434F69;
}

.highlighter-rouge{
  color:#e83e8c
}

input:focus, textarea:focus, select:focus{
  outline: none;
  box-shadow: unset !important;
  border-color: #2d3940 !important;
  color: #3e3e3e;
}

input.form-control{
  width: 100%;
    height: 28px;
    border: 1px solid #6780A4;
    max-width: 100%;
    border-radius: 0px;
    font-size:14px;
    padding-left: 5px;
    padding-right: 5px;
}

select.form-control{
  width: 100%;
    height: 28px;
    border: 1px solid #6780A4;
    max-width: 100%;
    border-radius: 0px;
    font-size:14px;
    padding-left: 5px;
    padding-right: 5px;
}

textarea.form-control{
  width: 100%;
    border: 1px solid #6780A4;
    max-width: 100%;
    border-radius: 0px;
    font-size:14px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type='checkbox']{
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

input[type='checkbox'] + label{
  padding-left: 10px;
}

input[type='radio']{
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

input[type='radio'] + label{
  padding-left: 10px;
}



.header-top {
	background-color: #687186;
	padding-right: 30px;
	padding-left: 30px;
	font-weight: 600;
	text-align: right;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.register-btn {
	font-size: 13px;
	color: white;
	margin-right: 15px;
	text-decoration: none !important;
}

.register-btn:hover {
	color: #EA5A4F !important;
	opacity: .7;
}

.login-btn {
	background: #fff;
	color: #eb593c !important;
	padding: 0px 10px;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: 700 !important;
	transition: all 0.5s;
	font-size: 13px;
	height: 22px;
	text-decoration: none !important
}

.login-btn:hover, .login-btn:focus {
	background: #555;
	color: #fff !important;
	opacity: .7;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	background: #333;
	color: #333;
	transition: all 0.3s;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #434f69 !important;
	top: 40px
}

.navbar .navbar-brand img {
	height: 56px;
	margin-top: 8px;
	margin-bottom: 8px;
	transition: height 1s ease
}

.navbar .navbar-nav>li.nav-item:last-child {
	padding-right: 0;
}


.navbar .navbar-nav li.nav-item {
	padding-right: 24px;
}


.navbar .navbar-nav li.nav-item.active a {
	color: #2ea3f2 !important;
}

.navbar .navbar-nav li.dropdown {
	padding-right: 46px;
}


.navbar .navbar-nav li.nav-item a {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 29px;
	padding-bottom: 29px;
	word-wrap: break-word;
	transition: padding 1s ease
}

.navbar-nav .dropdown-menu {
	margin-top: 0px;
}

.navbar a {
	color: #fff !important;
	font-weight: 600;
}

.navbar button {
	color: inherit !important;
}

.dropdown-toggle::after {
	content: "\f107" !important;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	border: 0px;
	margin-left: 10px;
	margin-top: 2px;
}

.navbar.compressed {
	padding-top: 0px;
	padding-bottom: 0px;
	background: #6dcc7c;
	color: #6dcc7c;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

}

.navbar.compressed .navbar-brand img {
	height: 37px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar.compressed .navbar-nav li.nav-item a {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 15px;
	padding-bottom: 15px;
}


.dropdown-menu.submenu {
	border-top: 2px solid #ea5a4f;
	background-color: rgba(67, 79, 105, 0.9);
	padding: 20px 0;
	border-radius: 0px;
	box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
	min-width: 240px;
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.navbar .navbar-nav .dropdown-menu.submenu a {
	margin: 0;
	padding: 6px 40px !important;
	font-size: 14px;
}

.navbar.compressed .navbar-nav .dropdown-menu.submenu a {
	margin: 0;
	padding: 6px 40px !important;
	font-size: 14px;
}

.navbar .navbar-nav .dropdown-menu.submenu a:hover {
	background-color: rgba(0, 0, 0, .03);
	opacity: .7;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 90, 79, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

footer{
  width: 100%;
  float: left;
  background-color: #434f69;
  padding-top: 6%;
}

footer h4.title{
  color: #ea5a4f;
  font-size: 22px;
}

footer h4.title a{
  color: #ea5a4f;
  font-size: 22px;
  text-decoration: none;
}

footer h4.title a:hover{
  color: #ea5a4f;
  text-decoration: none;
}

footer p{
  color:#fff
}

footer p a{
  color: #ea5a4f;
  text-decoration: none;
}

footer p a:hover{
  color: #ea5a4f;
  text-decoration: none;
}

.rss-widget-icon{
  width: 14px;
  height: 14px;
  border: 0px;
}

footer .copyright{
  color:#fff;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 15px;
}

.banner .carousel-inner > .item > img, .carousel-inner > .item > a > img  {
  height: 440px !important;
  width: 100% !important;
  margin: 0 auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
object-fit:cover
}

.banner .carousel-inner img{
height: 440px !important;
 width: 100% !important;
 object-fit: cover;
}

.navbar + .main-container{ margin-top:122px; transition: margin 1s ease; width: 100%; float: left;}

.navbar.compressed + .main-container{ margin-top:94px; width: 100%; float: left;}


@media (min-width:1024px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}

@media (max-width:1024px){
  footer h4.title{
  color: #ea5a4f;
  font-size: 20px;
}

footer h4.title a{
  color: #ea5a4f;
  font-size: 20px;
  text-decoration: none;
}
}

@media (max-width:768px) {

	.header-top {
		display: none;
	}

	.navbar {
		top: 0px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.navbar .navbar-toggler {
		border: 0px;
    padding: 0px;
	}

	.navbar.compressed .navbar-brand img {
		height: 37px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.navbar .navbar-brand img {
		margin-top: 13px;
		margin-bottom: 13px;
		height: 44px;
	}

	.navbar .navbar-collapse {
		border-top: 2px solid #ea5a4f;
		padding: 5%;
	}

	.dropdown-menu.submenu {
		border: 0px;
		padding: 0px;
		box-shadow: unset;
	}

	.navbar .navbar-nav li.nav-item {
		padding-right: 0px;
	}

	.navbar .navbar-nav li.dropdown {
		padding-right: 0px;

	}

	.navbar .navbar-nav li.nav-item a {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 10px;
		padding-bottom: 10px;
		word-wrap: break-word;
		transition: padding 1s ease;
	}

	.navbar .navbar-nav li.dropdown .submenu {
		background-color: rgba(0, 0, 0, .03);
	}

  .navbar + .main-container{ margin-top:80px; transition: margin 1s ease}

.navbar.compressed + .main-container{ margin-top:63px}

.custom-padd-30r{
  padding-right: 0px;
  padding-left: 0px;
}

.custom-padd-30l{
  padding-left: 0px;
  padding-right: 0px;
}


}

@media (max-width:767px){
  footer{
  padding-top: 12%;
}
footer .copyright{
  text-align: center;
}

}


.header-top .nav-login{
  display: contents;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

main.flex-shrink-0{
  margin-top: 120px;
}

.header-top-wrapper{
	margin-right: 15px;
}

.log-header .nav-login {
	flex-direction: inherit;
    align-items: center;
}
.log-header{
	display: flex;
}
.log-header .register-btn {
    font-weight: 600;
}

.log-header .navbar-brand img{
	height: 56px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: height 1s ease;
	max-height: 60px;
}

.logo-compressed{
	top:0px;
}
.logo-compressed .login-btn {
    color: #eb593c !important;
}
